/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for header */
header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

/* Styles for logo */
.logo {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100px;
}

/* Styles for navigation */
nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Styles for sidebar */
.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
    width: 20%;
    float: left;
    height: 100vh; /* Occupies full height of the viewport */
}

/* Styles for main content */
.main-content {
    padding: 20px;
    width: 80%;
    float: left;
}

/* Styles for footer */
footer {
    clear: both;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styles for sidebar link */
.sidebar-link {
    display: block;
    color: #000;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: #ddd;
}
